* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #222;
  width: 100%;
 
  overflow-x: hidden;
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* ===== HEADER ===== */
.header {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  background-color: #222;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}
.logo__header{
height: 40px;
position: relative;
bottom: 15px;
right: 70px;
}
.number{
    color: white;
    position: relative;
    left: 90px;
    bottom: 10px;
    letter-spacing: 3px;
}
.whatsapp{
    position: relative;
    height: 35px;
    left: 65px;
}
.telegram{
    height: 35px;
    left: 65px;
    position: relative;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  color: #ff6a00;
}
.lidgen{
    color:#ff6a00 ;
    position: relative;
   font-weight: 750;
   top: 40px;
   transform: scale(1.6);
   left: 98px;
}
.forbiz{
    color: #222;
    position: relative;
    transform: scale(1.6);
    font-weight: 750;
    top: 10px;
    left: 98px;
}
.text__under__main{
    letter-spacing: 1.5px;
    position: relative;
    top: 30px;
    right: 15px;
     transform: scale(1.2);
}
.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
}

.header__contacts {
  font-weight: bold;
}

/* ===== HERO ===== */
.hero {
  padding: 60px 0;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 25px;
  font-size: 16px;
}

.btn-primary {
  background: #ff6a00;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
border-radius: 6px;
text-align: center;
position: relative;
right: 72px;
top: 10px;
 width: 560px;  
font-size: larger;

}

/* ===== PLACEHOLDERS ===== */
.img-placeholder {
   width:10px;
  height: 10px;
  background: #eee;
right: 600px;
bottom: 80px;
  position: relative;
  
  transform: scale(0.8);
z-index: 1;

}
.img-placeholderstar{
  position: relative;
  z-index: 2;
  right: 630px;
  top: 190px;
}
.img-placeholderstar2{
  position: relative;
  z-index: 3;
  right: 0px;
  bottom: 75px;
}
/* ===== BENEFITS ===== */
.benefits {
  padding: 40px 0;
}

.benefits__grid {
  position: relative;
  top: 25px;
  margin-top: 100px;
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 35px;
  
}

.benefit-card {
  background: #f7f7f7;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

/* ===== SALES ===== */
.sales {
  padding: 60px 0;
  
}
.smile{
  z-index: 3;
  position: relative;
  bottom: 80px;
  left: 300px;
  transform: scale(0.6);
}
.sales h2 {
  text-align: center;
   margin-top: 30px;
  margin-bottom: 50px;
    font-size: 2.5em;
}

.sales h2 span {
  color: #ff6a00;
}

.sales__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.black{
 position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.star4{
  position: relative;
  bottom: 38px;
  margin-left: 190px;
   transform: scale(0.6);
}
.star4fixed{
    position: relative;
  bottom: 58px;
  margin-left: 150px;
   transform: scale(0.6);
}
.sales-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
z-index: 1;
  background: #f9f9f9;
  padding-left: 30px;
  border-radius: 20px;
   position: relative;
}
.sales-card__content {
  max-width: 60%;
}

.sales-card__content h3 {
  margin-bottom: 10px;
 
}
.sales-card__image img {
  width: 240px;
  height: auto;
  z-index: 3;
   position: relative;
}


/* ===== PRICES ===== */
.prices {
  padding: 60px 0;
}

.prices h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

.orange {
  color: #ff6a00;
}

/* сетка */
.prices__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.text{
  color: gray;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
 transform: scale(1.3);
}
.textbox{
   color: gray;
  position: relative;
  text-align: left;
  margin-bottom: 40px;
 transform: scale(1.0);
}
.price-card ul li {
  position: relative;
  padding-left: 28px;
}

.price-card ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;

  color: #000000;
  font-weight: 700;
} 
.price-card.active ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;

  color: #ffffff;
  font-weight: 700;
} 
/* карточка */
.price-card {
  display: flex;
  flex-direction: column;

  background: #f1eeee;
  border-radius: 20px;
  padding: 30px;
width: 400px;
  height: 550px;
  text-align: left;
}

/* активная карточка */
.price-card.active {
  background: #222;
  color: #fff;
}

/* Старт / Стандарт */
.price-card h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* заголовок пакета */
.price-card .price {
  font-size: 22px;
  font-weight: 700;

}

/* цена (градиент) */
.price-value {
  font-size: 32px;
  font-weight: 800;
  

  background: linear-gradient(10deg, #d68b4d, #fd0363);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* список */
.price-card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.price-card ul li {
  font-size: 15px;
  margin-bottom: 12px;
}

/* кнопка всегда внизу */
.price-card .btn-primary {
  margin-top: auto;
}

/* ===== SERVICES ===== */
.services {
  padding: 60px 0;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-left: 100px;
}
.price{
  position: relative;
  bottom: 18px;
  left: 20px;
  font-size: 22px;
  font-weight: 600;
  

  background: linear-gradient(10deg, #d68b4d, #ff07e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-card {
  background: #f7f7f7;
  padding: 30px;
  border-radius: 15px;
  width: 430px;
}
.price-card .btn-primary {
  margin-top: auto;      
  width: 100%;
  position: relative;
  margin-left: 80px;
}
.service-card .btn-primary{
   margin-top: auto;      
  width: 100%;
  position: relative;
  margin-left: 80px;
}

.servicestar{
  position:absolute;
  top: 2620px;
  left: 640px;
  transform: scale(0.6);
}
.servicestar2{
  position:absolute;
  top: 2620px;
  right: 270px;
  transform: scale(0.6);
}
.doptext{
  text-align: center;
  margin: 30px;
}
/* ===== FOOTER ===== */
.footer {
  background: #2b2b2b;
  padding: 35px 0;
  color: #fff;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.footer__inner {
  text-align: center;
}

.footer__copyright {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer__company {
  font-size: 12px;
  color: #bdbdbd;
  margin-bottom: 15px;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.footer__links a {
  font-size: 12px;
  color: #9e9e9e;
  text-decoration: none;
}

.footer__links a:hover {
  color: #ff6a00;
}
